# this is the personal customisation file for direnv - do not commit to git
#
# Download the latest version. See below for other installation methods.
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.1.0/1password.sh" \
    "sha256-JLh6cts1LNpmo7JeVgJ3NgmeHI3G7h2deYwkcpTweDI="

op signin

# load some secrets from 1Password
from_op <<OP
  SCOUT_USERNAME=op://Personal/u2dbkyt7hm5h46vbvknkdvwlgi/username
  SCOUT_PASSWORD=op://Personal/u2dbkyt7hm5h46vbvknkdvwlgi/password
OP
