# this is the personal customisation file for direnv - do not commit to git
#
# source_url "https://github.com/tmatilai/direnv-1password/raw/v1.1.0/1password.sh" \
#    "sha256-JLh6cts1LNpmo7JeVgJ3NgmeHI3G7h2deYwkcpTweDI="

# Download v1.0.0, as v1.1.0 mangles special characters.
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" \
    "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="

op signin

# load some secrets from 1Password
from_op <<OP
  SCOUT_USERNAME=op://Personal/u2dbkyt7hm5h46vbvknkdvwlgi/username
  SCOUT_PASSWORD=op://Personal/u2dbkyt7hm5h46vbvknkdvwlgi/password
OP
